script#parsedJsObject.
  const cities = [
    {
      "_id": "641b3942f21be7623e8c795e",
      "index": 0,
      "cityName": "Казань",
      "cityCenterCoords": [55.779640, 49.130656],
      "isActive": true,
      "points": [
        {
          "pointId": "641b3942ff0745cfe97f696c",
          "pointName": "minim",
          "pointAddress": {
            "phone": "(822) 447-3598",
            "addressMain": "359 Nova Court, Ticonderoga, Hawaii",
            "addressBuilding": "amet excepteur",
            "openingHours": "Пн-Пт: с 9:99 до 20:666"
          },
          "officeType": "offices",
          "coordinates": [55.765149,49.127061],
          "workingInfo": {
            "roundTheClock": false,
            "openHours": "10:00AM",
            "closeHourse": "6:00PM"
          },
          "operationTypes": [
            {
              "operationId": 0,
              "operationStatus": true,
              "operationNames": [
                {
                  "id": 0,
                  "name": "take-off-money",
                  "nameRu": "Что-то написал"
                },
                {
                  "id": 1,
                  "name": "deposit-money"
                },
                {
                  "id": 2,
                  "name": "change-pin"
                }
              ]
            },
            {
              "operationId": 1,
              "operationStatus": true,
              "operationNames": [
                {
                  "id": 123123,
                  "name": "top-brokerage-account",
                  "nameRu": "Что-то написал"
                }
              ]
            }
          ],
          "currencyTypes": [
            {
              "id": 0,
              "name": "RUB"
            },
            {
              "id": 1,
              "name": "CNH"
            },
            {
              "id": 2,
              "name": "ROUGHIES"
            }
          ],
          "conditions": [
            {
              "id": 0,
              "isConditionsExist": false,
              "conditionsText": "ad sint mollit id proident veniam incididunt irure proident ut velit sunt"
            }
          ],
          "route": "et",
          "partners": [
            {
              "partnersId": 0,
              "partnersImage": "ullamco in sunt ipsum aute labore",
              "partnersName": "ex id",
              "partnersDesc": "incididunt irure proident ut velit sunt"
            },
            {
              "partnersId": 1,
              "partnersImage": "consectetur laboris eiusmod in ipsum mollit",
              "partnersName": "aute ex",
              "partnersDesc": "pariatur laborum ut sint enim cupidatat"
            },
            {
              "partnersId": 2,
              "partnersImage": "in non labore occaecat qui ipsum",
              "partnersName": "Lorem duis",
              "partnersDesc": "proident proident do amet officia dolore"
            }
          ],
          "card": [
            {
              "cardLink": "#",
              "cardImage": "assets/images/map/card.png",
              "cardTitle": "МИР Classic debit",
              "cardDesc": "Получайте кешбэк до 20% у партнеров"
            }
          ]
        },
        {
          "pointId": "641b39422d3ccb3725c3c785",
          "pointName": "veniam",
          "pointAddress": {
            "phone": "(928) 531-3339",
            "addressMain": "536 Cropsey Avenue, Austinburg, New Hampshire",
            "addressBuilding": "id fugiat",
            "openingHours": "Пн-Пт: с 9:99 до 20:666"
          },
          "officeType": "atms",
          "coordinates": [55.803947, 49.187841],
          "workingInfo": {
            "roundTheClock": true,
            "openHours": "8:00AM",
            "closeHourse": "6:00PM"
          },
          "operationTypes": [
            {
              "operationId": 0,
              "operationStatus": true,
              "operationNames": [
                {
                  "id": 0,
                  "name": "take-off-money"
                },
                {
                  "id": 1,
                  "name": "deposit-money"
                },
                {
                  "id": 2,
                  "name": "change-pin"
                }
              ]
            },
            {
              "operationId": 1,
              "operationStatus": true,
              "operationNames": [
                {
                  "id": 0,
                  "name": "top-brokerage-account"
                }
              ]
            }
          ],
          "currencyTypes": [
            {
              "id": 0,
              "name": "RUB"
            },
            {
              "id": 1,
              "name": "ENDIPINE"
            },
            {
              "id": 2,
              "name": "BULLZONE"
            }
          ],
          "conditions": [
            {
              "id": 0,
              "isConditionsExist": false,
              "conditionsText": "ad sint mollit id proident veniam incididunt irure proident ut velit sunt"
            }
          ],
          "route": "occaecat",
          "partners": [
            {
              "partnersId": 0,
              "partnersImage": "est cillum exercitation est culpa Lorem",
              "partnersName": "dolor magna",
              "partnersDesc": "pariatur do tempor Lorem ex aliquip"
            },
            {
              "partnersId": 1,
              "partnersImage": "ullamco consequat id fugiat magna culpa",
              "partnersName": "exercitation ex",
              "partnersDesc": "esse excepteur aliquip cillum culpa Lorem"
            },
            {
              "partnersId": 2,
              "partnersImage": "cillum eu cupidatat commodo veniam nisi",
              "partnersName": "proident duis",
              "partnersDesc": "quis non laborum excepteur magna mollit"
            }
          ],
          "card": [
            {
              "cardLink": "#",
              "cardImage": "assets/images/map/card.png",
              "cardTitle": "MasterCard Classic debit",
              "cardDesc": "Получайте кешбэк до 20% у партнеров"
            }
          ]
        },
        {
          "pointId": "641b3942ca25e53dd5600f4e",
          "pointName": "incididunt",
          "pointAddress": {
            "phone": "(989) 468-2283",
            "addressMain": "778 Harman Street, Smock, Georgia",
            "addressBuilding": "nisi cillum",
            "openingHours": "Пн-Пт: с 9:99 до 20:666"
          },
          "officeType": "atms",
          "coordinates":  [55.816850, 49.063225],
          "workingInfo": {
            "roundTheClock": true,
            "openHours": "11:00AM",
            "closeHourse": "9:00AM"
          },
          "operationTypes": [
            {
              "operationId": 0,
              "operationStatus": true,
              "operationNames": [
                {
                  "id": 0,
                  "name": "take-off-money"
                },
                {
                  "id": 1,
                  "name": "deposit-money"
                },
                {
                  "id": 2,
                  "name": "change-pin"
                }
              ]
            },
            {
              "operationId": 1,
              "operationStatus": true,
              "operationNames": [
                {
                  "id": 0,
                  "name": "top-brokerage-account"
                },
                {
                  "id": 0,
                  "name": "currency-exchange"
                }
              ]
            }
          ],
          "currencyTypes": [
            {
              "id": 0,
              "name": "KZT"
            },
            {
              "id": 1,
              "name": "ADORNICA"
            },
            {
              "id": 2,
              "name": "GAPTEC"
            }
          ],
          "conditions": [
            {
              "id": 0,
              "isConditionsExist": false,
              "conditionsText": "ad sint mollit id proident veniam incididunt irure proident ut velit sunt"
            }
          ],
          "route": "non",
          "partners": [
            {
              "partnersId": 0,
              "partnersImage": "mollit minim amet voluptate fugiat dolor",
              "partnersName": "Lorem ex",
              "partnersDesc": "incididunt cillum est culpa nisi ex"
            },
            {
              "partnersId": 1,
              "partnersImage": "fugiat culpa commodo qui nisi laborum",
              "partnersName": "elit et",
              "partnersDesc": "ipsum quis dolor officia amet esse"
            },
            {
              "partnersId": 2,
              "partnersImage": "sunt ut in cillum non reprehenderit",
              "partnersName": "ut enim",
              "partnersDesc": "laboris ut do velit aliquip cillum"
            }
          ]
        }
      ]
    },
    {
      "_id": "641b3942f6fa75782f5c5069",
      "index": 1,
      "cityName": "Набережные Челны",
      "cityCenterCoords": [55.736765, 52.406647],
      "isActive": false,
      "points": [
        {
          "pointId": "641b39426dc783910011956a",
          "pointName": "quis",
          "pointAddress": {
            "phone": "(817) 476-3903",
            "addressMain": "322 Kenmore Court, Brutus, Arkansas",
            "addressBuilding": "eu cillum",
            "openingHours": "Пн-Пт: с 9:30 до 20:00"
          },
          "officeType": "offices",
          "coordinates": [55.732706, 52.397504],
          "workingInfo": {
            "roundTheClock": false,
            "openHours": "8:00AM",
            "closeHourse": "6:00PM"
          },
          "operationTypes": [
            {
              "operationId": 0,
              "operationStatus": true,
              "operationNames": [
                {
                  "id": 0,
                  "name": "take-off-money"
                },
                {
                  "id": 1,
                  "name": "change-pin"
                }
              ]
            },
            {
              "operationId": 1,
              "operationStatus": true,
              "operationNames": [
                {
                  "id": 0,
                  "name": "top-brokerage-account"
                },
                {
                  "id": 1,
                  "name": "currency-exchange"
                }
              ]
            }
          ],
            "currencyTypes": [
              {
                "id": 0,
                "name": "RUB"
              }
            ],
            "conditions": [
              {
                "id": 0,
                "isConditionsExist": false,
                "conditionsText": "ad sint mollit id proident veniam incididunt irure proident ut velit sunt"
              }
            ],
            "route": "sit",
            "partners": [
              {
                "partnersId": 0,
                "partnersImage": "anim exercitation nisi deserunt magna magna",
                "partnersName": "culpa proident",
                "partnersDesc": "est pariatur ex aute minim ex"
              },
              {
                "partnersId": 1,
                "partnersImage": "sit nostrud consectetur adipisicing deserunt minim",
                "partnersName": "ex pariatur",
                "partnersDesc": "ad magna laborum cupidatat voluptate id"
              },
              {
                "partnersId": 2,
                "partnersImage": "quis irure tempor mollit nostrud laboris",
                "partnersName": "qui cillum",
                "partnersDesc": "sit sunt cillum id occaecat enim"
              }
            ]
        }
      ]
    }
  ];


section.page-section.map.map
  .map__container
    .map__mobile-header.map-mobile-header
      .map-mobile-header__more-link.page-more-link.page-more-link--classic
        a(href="#")
          | Назад
        +icon-mono("shevron-arrow-right")(width="16" height="16" class="page-more-link__icon")
      .map-mobile-header__type-radio
        .type-radio
          .type-radio__body
            input.type-radio__input.js-map-input-search.visually-hidden(
              name="office-type-mob"
              id="office-type-officeMob"
              type="radio",
              hidden,
              value="offices",
              data-checkrole="officeType"
            )
            label.type-radio__label(for="office-type-officeMob")
              | Офисы

            input.type-radio__input.js-map-input-search.visually-hidden.js-init-button-mob(
              name="office-type-mob"
              id="office-type-ATMMob"
              type="radio",
              hidden,
              value="atms",
              data-checkrole="officeType"
            )
            label.type-radio__label(for="office-type-ATMMob")
              | Банкоматы

    .map__sidebar.sidebar-map
      .sidebar-map__body
        .sidebar-map__search-title
          | Поиск

        button.filter-popup__close-btn.sidebar-map__search-close-btn(type="button")
          +icon-mono('close')

        .sidebar-map__row.sidebar-map__head
          .sidebar-map__nav
            .sidebar-map__more-link.page-more-link.page-more-link--classic
              a(href="#")
                | Вернуться назад
              +icon-mono("shevron-arrow-right")(width="16" height="16" class="page-more-link__icon")

            .sidebar-map__dropdown.menu-dropdown__container
              button.header__legend-link.sidebar-map__legend-link.js-mobile-dropdown(class="menu-dropdown js-menu-dropdown")
                | Казань
              ul.menu-dropdown__menu.js-menu-dropdown-menu.sidebar-map__dropdown-menu


          .sidebar-map__type-radio
            .type-radio
              .type-radio__body
                input.type-radio__input.visually-hidden.js-map-input-search(
                  name="office-type"
                  id="office-type-office"
                  type="radio",
                  hidden,
                  value="offices",
                  data-checkrole="officeType"
                )
                label.type-radio__label(for="office-type-office")
                  | Офисы

                input.type-radio__input.visually-hidden.js-map-input-search.js-init-button-desc(
                  name="office-type"
                  id="office-type-ATM"
                  type="radio",
                  hidden,
                  value="atms",
                  data-checkrole="officeType"
                )
                label.type-radio__label(for="office-type-ATM")
                  | Банкоматы

        .sidebar-map__row.sidebar-map__control
          .sidebar-map__search.search-map
            label.input.input--grey#suggest-c-des(for="")
              input.search-map__input.input__control.js-input-mask_text.no_validate(
                type="text",
                id="suggest",
                placeholder="Адрес, метро и отделение"
              )
              span.input__label.visually-hidden Адрес, метро и отделение
              button.search-map__button.search-map__button--search
                +icon-mono("search")
              button.search-map__button.search-map__button--close
                +icon-mono("close")
              p.search-map__notice#notice


          form.sidebar-map__filters.sidebar-map__filters--desctop.map-filters
            .map-filters__body
              .map-filters__heading
                span.map-filters__title
                  | Фильтр

                .link.map-filters__reset
                  input(
                    class="js-map-clear-all"
                    type="reset"
                    value="Сбросить все"
                  )
                  input.visually-hidden.js-map-input-search.js-pseudo-clear(
                    type="checkbox"
                    hidden
                  )

              ul.map-filters__list

                li.map-filters__item
                  +Select("worktime", "Время работы", [
                    {name: 'Работают сейчас', value: 'isWorkingNow'},
                    {name: 'Круглосуточно', value: 'dayAndNight'},
                  ], 'workingInfo')

                li.map-filters__item
                  +Select("currency", "Валюта", [
                    {name: 'Российский рубль', value: 'RUB'},
                    {name: 'Казахстанский тенге', value: 'KZT'},
                    {name: 'Китайский юань', value: 'CNH'},
                  ], 'currencyTypes')

                li.map-filters__item
                  +Select("operation-types", "Типы операций", [
                    {name: 'Снять', value: 'take-off-money'},
                    {name: 'Внести', value: 'deposit-money'},
                    {name: 'Смена PIN-кода', value: 'change-pin'},
                    {name: 'Обмен валюты', value: 'currency-exchange'},
                    {name: 'Пополнить брокерский счет', value: 'top-brokerage-account'},
                  ], 'operationTypes')

          .sidebar-map__filters.sidebar-map__filters--mobile.map-filters-mobile
            .map-filters-mobile__body.js-mobile-tags-swiper.swiper

              ul.map-filters-mobile__list.swiper-wrapper
                li.map-filters-mobile__item.swiper-slide
                  button.map-filters-mobile__open-filters-btn(type="button")
                    +icon-mono('mobile-filters')

                li.map-filters-mobile__item.swiper-slide
                  label.map-filters-mobile__label
                    input.map-filters-mobile__input.visually-hidden.js-map-input-search(
                      type="checkbox"
                      name="111"
                      value="dayAndNight",
                      data-checkrole="workingInfo"
                      data-param="dayAndNight"
                    )
                    span.map-filters-mobile__span
                      | Круглосуточно
                li.map-filters-mobile__item.swiper-slide
                  label.map-filters-mobile__label
                    input.map-filters-mobile__input.visually-hidden.js-map-input-search(
                      type="checkbox"
                      name="222"
                      value="deposit-money"
                      data-checkrole="currencyTypes"
                      data-param="deposit-money"
                    )
                    span.map-filters-mobile__span
                      | Внести
                li.map-filters-mobile__item.swiper-slide
                  label.map-filters-mobile__label
                    input.map-filters-mobile__input.visually-hidden.js-map-input-search(
                      type="checkbox"
                      name="333"
                      value="take-off-money"
                      data-param="take-off-money"
                      data-checkrole="currencyTypes"
                    )
                    span.map-filters-mobile__span
                      | Снять
                li.map-filters-mobile__item.swiper-slide
                  label.map-filters-mobile__label
                    input.map-filters-mobile__input.visually-hidden.js-map-input-search(
                      type="checkbox"
                      name="44"
                      value="True"
                      data-param="operationType-3"
                    )
                    span.map-filters-mobile__span
                      | Обменять
                li.map-filters-mobile__item.swiper-slide
                  label.map-filters-mobile__label
                    input.map-filters-mobile__input.visually-hidden.js-map-input-search(
                      type="checkbox"
                      name="666"
                      value="currency-exchange"
                      data-param="operationType-2"
                      data-checkrole="currencyTypes"
                    )
                    span.map-filters-mobile__span
                      | Пополнить брокерский счет

            .map-filters-mobile__suggest-wrapper
              #suggest-c-mob
        .sidebar-map__row.sidebar-map__partners.map-partners
          .map-partners__title
            | Банкоматы-партнеры
          ul.map-partners__list
            li.map-partners__item
              a.map-partners__link(href="#")
                .map-partners__image
                  img(src="assets/images/partners/otk.png", alt="партнеры банка")
                .map-partners__info
                  span.map-partners__name
                    | ФК Открытие
                  span.map-partners__text
                    | Список возможных ограничений на различные виды операций
            li.map-partners__item
              a.map-partners__link(href="#")
                .map-partners__image
                  img(src="assets/images/partners/otk.png", alt="партнеры банка")
                .map-partners__info
                  span.map-partners__name
                    | ФК Открытие
                  span.map-partners__text
                    | Список возможных ограничений на различные виды операций
            li.map-partners__item
              a.map-partners__link(href="#")
                .map-partners__image
                  img(src="assets/images/partners/otk.png", alt="партнеры банка")
                .map-partners__info
                  span.map-partners__name
                    | ФК Открытие
                  span.map-partners__text
                    | Список возможных ограничений на различные виды операций
            li.map-partners__item
              a.map-partners__link(href="#")
                .map-partners__image
                  img(src="assets/images/partners/otk.png", alt="партнеры банка")
                .map-partners__info
                  span.map-partners__name
                    | ФК Открытие
                  span.map-partners__text
                    | Список возможных ограничений на различные виды операций
            li.map-partners__item
              a.map-partners__link(href="#")
                .map-partners__image
                  img(src="assets/images/partners/otk.png", alt="партнеры банка")
                .map-partners__info
                  span.map-partners__name
                    | ФК Открытие
                  span.map-partners__text
                    | Список возможных ограничений на различные виды операций
            li.map-partners__item
              a.map-partners__link(href="#")
                .map-partners__image
                  img(src="assets/images/partners/otk.png", alt="партнеры банка")
                .map-partners__info
                  span.map-partners__name
                    | ФК Открытие
                  span.map-partners__text
                    | Список возможных ограничений на различные виды операций

      .sidebar-map__nav-buttons.map-nav-buttons
        button.map-nav-buttons__locate.map-nav-buttons__locate--disabled.count-btn
          span.visually-hidden мое местонахождение
          +icon-mono("location-mobile")
          +icon-mono("location-dis")

    .map__map-wrapper#yamap

    .map__balloon.map-balloon
      .map-balloon__body
        button.map-balloon__close-btn
          +icon-mono('cross')
        button.map-balloon__close-btn.filter-popup__close-btn
          +icon-mono('close')

        .map-balloon__heading
          span.map-balloon__name-type.js-b-clear.js-b-name
            | Банкомат «ТАТСОЦБАНК»
          span.map-balloon__address-up.js-b-clear.js-b-address-m
            | г. Казань, ул. Баумана, д. 43, стр. 1
          span.map-balloon__address-down.js-b-clear.js-b-address-s
            | ТЦ Пеликан, 1 этаж

        .map-balloon__type-radio.map-balloon__type-radio--pb
          .type-radio
            .type-radio__body
              input.type-radio__input.type-radio__input--contacts.visually-hidden(
                name="balloon-radio"
                type="radio",
                hidden,
                checked
                id="balloon-contacts"
              )
              label.type-radio__label(for="balloon-contacts")
                | Контакты

              input.type-radio__input.type-radio__input--opeations-types.visually-hidden(
                name="balloon-radio"
                type="radio",
                hidden,
                checked
                id="balloon-office-type"
              )
              label.type-radio__label(for="balloon-office-type")
                | Типы операций

              .type-radio__info-window
                .type-radio__select-window.type-radio__select-window--contacts
                  a.type-radio__address(href="")
                    .type-radio__address-icon
                      +icon-multi('bank-icon')

                    .type-radio__address-info
                      span.type-radio__address-title.type-radio__info-title.js-b-clear.js-b-address-m
                        | г. Казань, ул. Баумана, д. 43, стр. 1
                      span.type-radio__address-text.type-radio__info-text.js-b-clear.js-b-address-s
                        | ТЦ Пеликан, 1 этаж

                  ul.type-radio__list
                    li.type-radio__item.type-radio__item--times
                      span.type-radio__info-title
                        | Часы работы
                      span.type-radio__info-text.type-radio__info-text--times.js-b-clear.js-b-opening-m
                        | Пн-Пт: с 9:30 до 20:00
                    li.type-radio__item.type-radio__item--conditions
                      span.type-radio__info-title
                        | Условия банкомата
                      span.type-radio__info-text.type-radio__info-text--conditions.js-b-remove.js-b-conditions-m
                        | Выдача наличных за один раз
                        br
                        | до 1 000 000 руб.
                  a.tab-buton.tab-buton--rounded.type-radio__tab-buton.js-b-routing(href="" target="_blank")
                    | Проложить маршрут

                .type-radio__select-window.type-radio__select-window--opeations-types
                  a.type-radio__address(href="")
                    .type-radio__address-icon
                      +icon-multi('bank-icon')

                    .type-radio__address-info
                      span.type-radio__address-title.type-radio__info-title.js-b-clear.js-b-address-m
                        | г. Казань, ул. Баумана, д. 43, стр. 1
                      span.type-radio__address-text.type-radio__info-text.js-b-clear.js-b-address-s
                        | ТЦ Пеликан, 1 этаж

                  ul.type-radio__list
                    li.type-radio__item.type-radio__item--times.type-radio__item--individuals
                      span.type-radio__info-title
                        | Для частных лиц
                      span.type-radio__info-text.type-radio__info-text--with-marker.type-radio__info-text--for-individuals.js-b-remove.js-b-individuals-m
                        | Снятие наличных
                    li.type-radio__item.type-radio__item--conditions.type-radio__item--legals
                      span.type-radio__info-title
                        | Для юридических лиц
                      span.type-radio__info-text.type-radio__info-text--with-marker.type-radio__info-text--for-legals.js-b-remove.js-b-legals-m
                        | Снятие наличных
                  a.tab-buton.tab-buton--rounded.type-radio__tab-buton.js-b-routing(href="" target="_blank")
                    | Проложить маршрут

        a.map-balloon__card-link.map-card-link(href="#")
          .map-card-link__body
            .map-card-link__image-wrapper
              .map-card-link__image
                img(src="assets/images/map/card.png", alt="")
            .map-card-link__info
              .map-card-link__name
                | МИР Classic debit
              .map-card-link__text
                | Получайте кешбэк до 20%
                br
                | у партнеров

      .map-balloon__nav-buttons.map-nav-buttons
        button.map-nav-buttons__locate.count-btn.map-nav-buttons__locate--disabled
          span.visually-hidden мое местонахождение
          +icon-mono("location")(width="24" height="24" class="count-btn__icon")
          +icon-mono("location-dis")(width="24" height="24" class="count-btn__icon")
        button.map-nav-buttons__zoom-in.count-btn
          span.visually-hidden прибавить
          +icon-mono("plus")(width="24" height="24" class="count-btn__icon")
        button.map-nav-buttons__zoom-out.count-btn
          span.visually-hidden убавить
          +icon-mono("minus")(width="24" height="24" class="count-btn__icon")

    .map__filter-popup.filter-popup
      form.filter-popup__body
        button.filter-popup__close-btn.js-close-clear-filter(type="button")
          +icon-mono('close')

        .filter-popup__title
          | Фильтры

        ul.filter-popup__list.filter-popup__list--pb
          li.filter-popup__item
            .filter-popup__heading
              | Время работы
            .filter-popup__checkbox
              .checkbox
                input(type="checkbox"
                  class="visually-hidden js-map-checkbox js-map-input-search"
                  data-param="workingHours"
                  id="mobile-work-now-1"
                  value="isWorkingNow",
                  data-checkrole="workingInfo"
                )
                label.checkbox__container(for="mobile-work-now-1")
                  span.checkbox__control
                  span.checkbox__text
                    | Работают сейчас
            .filter-popup__checkbox
              .checkbox
                input(type="checkbox"
                  class="visually-hidden js-map-checkbox js-map-input-search"
                  data-param="dayAndNight"
                  id="mobile-day-and-night"
                  value="dayAndNight",
                  data-checkrole="workingInfo"
                )
                label.checkbox__container(for="mobile-day-and-night")
                  span.checkbox__control
                  span.checkbox__text
                    | Круглосуточно
          li.filter-popup__item
            .filter-popup__heading
              | Валюта
            .filter-popup__checkbox
              .checkbox
                input(type="checkbox"
                  class="visually-hidden js-map-checkbox js-map-input-search"
                  value="RUB"
                  data-param="currencyTypes"
                  id="mobile-RUB"
                  data-checkrole="currencyTypes"
                )
                label.checkbox__container(for="mobile-RUB")
                  span.checkbox__control
                  span.checkbox__text
                    | Россский рубль
            .filter-popup__checkbox
              .checkbox
                input(type="checkbox"
                  class="visually-hidden js-map-checkbox js-map-input-search"
                  value="KZT"
                  data-param="currencyTypes"
                  id="mobile-KZT"
                  data-checkrole="currencyTypes"
                )
                label.checkbox__container(for="mobile-KZT")
                  span.checkbox__control
                  span.checkbox__text
                    | Казахстанский тенге
            .filter-popup__checkbox
              .checkbox
                input(type="checkbox"
                  class="visually-hidden js-map-checkbox js-map-input-search"
                  value="CNH"
                  data-param="currencyTypes"
                  id="mobile-CNH"
                  data-checkrole="currencyTypes"
                )
                label.checkbox__container(for="mobile-CNH")
                  span.checkbox__control
                  span.checkbox__text
                    | Китайский юань
          li.filter-popup__item
            .filter-popup__heading
              | Типы операций
            .filter-popup__checkbox
              .checkbox
                input(type="checkbox"
                  class="visually-hidden js-map-checkbox js-map-input-search"
                  value="take-off-money"
                  data-param="take-off-money"
                  id="mobile-operationTypes-1"
                  data-checkrole="currencyTypes"
                )
                label.checkbox__container(for="mobile-operationTypes-1")
                  span.checkbox__control
                  span.checkbox__text
                    | Снять
            .filter-popup__checkbox
              .checkbox
                input(type="checkbox"
                  class="visually-hidden js-map-checkbox js-map-input-search"
                  data-param="deposit-money"
                  id="mobile-operationTypes-2"
                  value="deposit-money"
                  data-checkrole="currencyTypes"
                )
                label.checkbox__container(for="mobile-operationTypes-2")
                  span.checkbox__control
                  span.checkbox__text
                    | Внести
            .filter-popup__checkbox
              .checkbox
                input(type="checkbox"
                  class="visually-hidden js-map-checkbox js-map-input-search"
                  id="mobile-operationTypes-3"
                  value="deposit-pin"
                  data-param="deposit-money"
                  data-checkrole="currencyTypes"
                )
                label.checkbox__container(for="mobile-operationTypes-3")
                  span.checkbox__control
                  span.checkbox__text
                    | Смена PIN-кода
            .filter-popup__checkbox
              .checkbox
                input(type="checkbox"
                  class="visually-hidden js-map-checkbox js-map-input-search"
                  value="operationType-3"
                  data-param="operationType-3"
                  id="mobile-operationTypes-4"
                )
                label.checkbox__container(for="mobile-operationTypes-4")
                  span.checkbox__control
                  span.checkbox__text
                    | Обмен валюты
            .filter-popup__checkbox
              .checkbox
                input(type="checkbox"
                  class="visually-hidden js-map-checkbox js-map-input-search"
                  value="operationType-2"
                  data-param="operationType-2"
                  id="mobile-operationTypes-5"
                )
                label.checkbox__container(for="mobile-operationTypes-5")
                  span.checkbox__control
                  span.checkbox__text
                    | Пополнить брокерский счет

        .filter-popup__buttons
          input.filter-popup__button.filter-popup__button--clear.tab-buton.js-input-clear(type="reset" value="Очистить")
          button.filter-popup__button.filter-popup__button--apply.tab-buton.js-filter-al-btn(type="button")
            | Применить

    .map__dropdown-popup.filter-popup
      .filter-popup__body
        button.filter-popup__close-btn.filter-popup__close-btn--cities(type="button")
          +icon-mono('close')

        .filter-popup__title
          | Выберите город

        ul.filter-popup__list

    .map__location-message.location-message
      .location-message__icon
        +icon-multi('info')
      .location-message__text
        | К сожалению, в данной области нет банкоматов, измените масштаб карты

    .map__access.filter-popup
      .filter-popup__body
        button.filter-popup__close-btn(type="button")
          +icon-mono('close')

        .filter-popup__title
          | Доступ к гео-позиции
          br
          | запрещен браузером

        .filter-popup__access-text
          | Воспользуйтесь поиском или измените
          br
          | настройки вашего браузера

    .map__mobile-search.filter-popup
      .filter-popup__body
        button.filter-popup__close-btn(type="button")
          +icon-mono('close')

        .filter-popup__title
          | Поиск
